@media screen and (min-width: 768px) {
	.section-title{
		font-size: 24px;
	}
	.subtitle{
		font-size: 16px;
	}
	.sub-card .content-box h2{
		font-size: 24px;
		line-height: 32px; /* 116.667% */
	}
}
@media(min-width:992px){
	.navbar-theme .nav-link{
		padding-left:1rem !important;
		padding-right:1rem !important;
	}
	.section-title{
		font-size: 33px;
	}
	.sub-title{
		font-size: 36px;
	}
}
@media(min-width:1650px){
	.service-card h4{
		font-size:24px;
		line-height: 34px;
	}
	.service-card .btn{
		font-size:12px;
	}
}
@media(max-width:992px){
	.navbar-theme .nav-link{
		line-height:24px;
	}
}
@media(max-width:767px){
	header {
		padding: 1rem 0 0;
	}
	.service-background{
		width:80px;
		height:80px;
		right:-10px;
	}
	#service_carousel button.owl-prev {
    left: 0;
	}
	#service_carousel button.owl-next {
		right: 0;
	}
}